<%- include("../../partials/header.ejs") %> <!-- every ../ it returns a folder -->
<body> 
<%- include("../../partials/navbar.ejs") %>
<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Register of category</h2>
        </div>
        <div class="card-body">
        <form method="post" action="/categories/save">
            <input class="form-control" type="text" name="title" placeholder="Define the title of category"><br>
            <button class="btn btn-success" type="submit">Register</button>
        </form>
        </div>
    </div>
</div>
</body>
<%- include("../../partials/footer.ejs") %>

